dist: trusty
language: rust
rust: stable
os:
  - linux
  - osx
rust:
  - nightly-2017-01-26
notifications:
  webhooks: http://build.servo.org:54856/travis
addons:
  apt:
    sources:
      - sourceline: 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-3.8 main'
        keyurl: 'http://apt.llvm.org/llvm-snapshot.gpg.key'
    packages:
      - libgles2-mesa-dev
      - llvm-3.8-dev
      - libedit-dev
env:
  - BUILD_KIND=DEBUG RUST_BACKTRACE=1
  - BUILD_KIND=RELEASE RUST_BACKTRACE=1
before_install:
  - pip install mako servo-tidy
script:
  - servo-tidy
  - if [ $BUILD_KIND = DEBUG ]; then (cd webrender_traits && cargo test --verbose --features "ipc"); fi
  - if [ $BUILD_KIND = DEBUG ]; then (cd webrender_traits && cargo test --verbose); fi
  - if [ $BUILD_KIND = DEBUG ]; then (cd webrender && cargo build --verbose --no-default-features); fi
  - if [ $BUILD_KIND = DEBUG ]; then (cd webrender && cargo test --verbose); fi
  - if [ $BUILD_KIND = DEBUG ]; then (cd wrench && cargo test --verbose); fi
  - if [ $BUILD_KIND = RELEASE ]; then (cd wrench && python headless.py --subpixel-aa reftest); fi
