dist: trusty
language: rust
rust:
  - 1.19.0
  - nightly
matrix:
  allow_failures:
  - rust: nightly
os:
  - linux
  - osx
notifications:
  webhooks: http://build.servo.org:54856/travis
addons:
  apt:
    sources:
      - sourceline: 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-3.8 main'
        keyurl: 'http://apt.llvm.org/llvm-snapshot.gpg.key'
    packages:
      - libgl1-mesa-dev
      - llvm-3.8-dev
      - libedit-dev
env:
  - BUILD_KIND=DEBUG RUST_BACKTRACE=1
  - BUILD_KIND=RELEASE RUST_BACKTRACE=1
before_install:
  - pip install mako servo-tidy
script:
  - servo-tidy
  - if [ $BUILD_KIND = DEBUG ]; then (cd webrender_api && cargo test --verbose --features "ipc"); fi
  - if [ $BUILD_KIND = DEBUG ]; then (cd webrender && cargo build --verbose --no-default-features); fi
  - if [ $BUILD_KIND = DEBUG ]; then (cargo test --all --verbose); fi
  - if [ $BUILD_KIND = RELEASE ]; then (cd wrench && python headless.py reftest); fi
  - if [ $BUILD_KIND = RELEASE ]; then (cd wrench && cargo build --release --features=debugger); fi
  - if [ $TRAVIS_RUST_VERSION == "nightly" ]; then (cd webrender && cargo bench --verbose); fi
