language: rust
os:
  - linux
  - osx
rust:
  - nightly-2016-10-09
notifications:
  webhooks: http://build.servo.org:54856/travis
addons:
  apt:
    packages:
      - libgles2-mesa-dev
script:
  - (cd webrender_traits && cargo test --verbose)
  - (cd webrender && cargo test --verbose)
  - (cd sample && cargo test --verbose)
  - (cd replay && cargo test --verbose)
  - (cd wrench && cargo test --verbose)
