[configs]
skip-check-length = false
skip-check-licenses = false
check-alphabetical-order = false

[ignore]
# Ignored packages with duplicated versions
packages = [
    "gdi32-sys",
    "winapi",
    "gl_generator",
    "log",
    "core-foundation",
    "core-foundation-sys",
    "yaml-rust",
    "user32-sys",
    "lazy_static",
    "core-graphics"
]

# Files that are ignored for all tidy and lint checks.
files = [
    "./wrench/src/egl.rs",  # Copied from glutin
]

# Many directories are currently ignored while we tidy things up
# gradually.
directories = [
   # Generated and upstream code combined with our own. Could use cleanup
  "./target",
  "./webrender/src",
]
