[
    (
        name: "cs_blur",
        feature_sets: [
            "ALPHA_TARGET,COLOR_TARGET",                // cs_blur_a8 and cs_blur_rgba8
        ],
    ),// [0]
    (
        name: "cs_border_segment",
        feature_sets: [
            "",
        ],
    ),// [1]
    (
        name: "brush_solid",
        feature_sets: [
            ",ALPHA_PASS",                              // Brush shader feature
        ],
    ),// [2]
    (
        name: "brush_image",
        feature_sets: [
            ",TEXTURE_2D,TEXTURE_RECT,TEXTURE_EXTERNAL",// Image buffer kinds
            ",ALPHA_PASS",                              // Brush shader feature
            ",DUAL_SOURCE_BLENDING",                    // Optional brush shader feature
        ],
    ),// [3]
    (
        name: "brush_blend",
        feature_sets: [
            ",ALPHA_PASS",                              // Brush shader feature
        ],
    ),// [4]
    (
        name: "brush_mix_blend",
        feature_sets: [
            ",ALPHA_PASS",                              // Brush shader feature
        ],
    ),// [5]
    (
        name: "brush_yuv_image",
        feature_sets: [
            ",TEXTURE_2D,TEXTURE_RECT,TEXTURE_EXTERNAL",// Image buffer kinds
            "YUV_NV12,YUV_PLANAR,YUV_INTERLEAVED",      // Yuv formats
            "YUV_REC601,YUV_REC709",                    // Yuv color spaces
            ",ALPHA_PASS",                              // Brush shader feature
        ],
    ),// [6]
    (
        name: "brush_radial_gradient",
        feature_sets: [
            ",DITHERING",                               // Dither feature
            ",ALPHA_PASS",                              // Brush shader feature
        ],
    ),// [7]
    (
        name: "brush_linear_gradient",
        feature_sets: [
            ",DITHERING",                               // Dither feature
            ",ALPHA_PASS",                              // Brush shader feature
        ],
    ),// [8]
    (
        name: "cs_clip_rectangle",
        feature_sets: [
            "TRANSFORM",                                // ClipCache shader feature
        ],
    ),// [9]
    (
        name: "cs_clip_box_shadow",
        feature_sets: [
            "TRANSFORM",                                // ClipCache shader feature
        ],
    ),// [10]
    (
        name: "cs_clip_image",
        feature_sets: [
            "TRANSFORM",                                // ClipCache shader feature
        ],
    ),// [11]
    (
        name: "cs_clip_line",
        feature_sets: [
            "TRANSFORM",                                // ClipCache shader feature
        ],
    ),// [12]
    (
        name: "ps_text_run",
        feature_sets: [
            ",DUAL_SOURCE_BLENDING",                    // ps_text_run_dual_source
            ",GLYPH_TRANSFORM",                         // TextShader feature
        ],
    ),// [13]
    (
        name: "ps_split_composite",
        feature_sets: [
            "",
        ],
    ),// [14]
    (
        name: "debug_color",
        feature_sets: [
            "",
        ],
    ),// [15]
    (
        name: "debug_font",
        feature_sets: [
            "",
        ],
    ),// [16]
    (
        name: "gpu_cache_update",
        feature_sets: [
            "",
        ],
    ),// [17]
    (
        name: "pf_vector_cover",
        feature_sets: [
            "TEXTURE_2D",
        ],
    ),// [18]
    (
        name: "pf_vector_stencil",
        feature_sets: [
            "TEXTURE_2D",
        ],
    ),// [19]
]
