name: Sync from mozilla-central

on:
  schedule:
    # Midnight on Sunday.
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  sync:
    name: Sync
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/cache@v4
        with:
          path: _cache/upstream
          key: upstream
      - name: Run synchronization script
        run:  ./.github/sync/sync.sh _filtered
      - name: Pushing new `main`
        run: git push origin main
